@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.login {
  text-align: right;
  float: right;
  font-size: 30px;
}

button{
  margin-bottom: 10px;
}

a:visited{
  color: teal;
  font-family:'Poiret One', serif;

}
a{
  color: teal;
  font-family:'Poiret One', serif;
  text-decoration: none;
}
.header{
  color : white;
  background-color: teal;
  text-align: center;
  font-family:'Poiret One', serif;
  height: 90px;
  font-size: 55px;
  font-weight: 10px;
  opacity: 0.5;
  filter: alpha(opacity=25);
}

p{
text-align: center;
border-style: solid;
border-width: thin;
border
border-color: teal;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px;
}
