@import url(https://fonts.googleapis.com/css?family=Poiret+One);


.header{
  color : white;
  background-color: teal;
  text-align: left;
  font-family:'Poiret One', serif;;
  height: 90px;
  font-size: 55px;
  font-weight: 10px;
  opacity: 0.5;
  filter: alpha(opacity=25);
}
.sign-in{
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: teal;
  position: absolute;
  width: 330px ;
  height: 210px;
  padding: 10px;
  z-index: 15;
  top: 30%;
  left: 50%;
  margin: -100px 0 0 -150px;

}
.head-question{
  font-size: 50px;
  font-family: 'Poiret One', serif;

}
p{
  font-size: 25px;
  font-family: 'Lora', serif;
}
