button{
  position: absolute;
  left: 80%;
  top:  10%;
  float: left;
  display: block;
  word-wrap: nowrap;
  overflow: hidden;
<<<<<<< HEAD
  width: auto;
  height: auto;
  font-weight: bolder;
  text-decoration: none;
=======
>>>>>>> 3c68d3548aba51daf25d691decbe29d9c25a56f6
}

body{
  background-image: url('/assets/images/scholarfish.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: inherit;
  width: inherit;
  padding: 0;
  margin: 0;
}
/*hhhfg*/
.header{
  color : white;
  background-color: grey;
  text-align: left;
  font-family:'Poiret One', cursive;
  height: 90px;
  font-size: 55px;
  font-weight: 10px;
  opacity: 0.5;
  filter: alpha(opacity=25);
}

.login{
  font-size: 30px;
  float: right;
  padding-bottom: 10px;
}

#center-info{
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  color: white;
  text-align: center;
  font-size: 40px;
}

a:visited {
      color: teal;
}
a{
  color: teal;
  text-decoration: none; 
}
body, html{
  padding: 0;
  margin: 0;
  height: 100%;
}
p
