<!DOCTYPE html>
<html>
<head>
  <title>ScholarFish - A Place to Swim through the Application Process! </title>
</head>
<body>
  Hi this is totally working
  <form method=post>
    <div class="first_name">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" value="">
    </div>

    <div class="last_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" value="">
    </div>

    <div class="address">
    <label for="address">Address</label>
    <input type="text" name="address" value="">
    </div>
    <button type="submit">Try me out</button>
  </form>
</body>
</html>
