<!DOCTYPE html>
<html>
<head>
  <title>ScholarFish - A Place to Swim through the Application Process! </title>
</head>
<body>
  <form method=post>
    <fieldset>
        <legend>Student Information</legend>
        <p>First Name: <input type="text" name="first_name" value=""> </p>
        <p>Last Name: <input type="text" name="last_name" value=""> </p>
        <p>Birthday: <input type="date" name="birthday" value=""> </p>
        <p> Grade Level This Fall:  <select name="grade_level">
          <option value="">Grade Level</option>
          <option value="9">High School Freshman</option>
          <option value="10">High School Sophomore</option>
          <option value="11">High School Junior</option>
          <option value="12">High School Senior</option>
          <option value="13">College Freshman</option>
          <option value="14">College Sophomore</option>
          <option value="15">College Junior</option>
          <option value="16">College Senior</option>
          <option value="17">Graduate School - Year 1</option>
          <option value="18">Graduate Student - Year 2</option>
          <option value="19">Graduate Student - Year 3</option>
          <option value="20">Graduate Student - Year 4</option>
          <option value="21">Graduate Student - Year 5</option></select> </p>
        <p> High School Graduation Year: <select name="graduation_year"><option value="">School Year</option>
          <option value="2026">2026</option>
          <option value="2025">2025</option>
          <option value="2024">2024</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          <option value="2006">2006</option>
          <option value="2005">2005</option>
          <option value="2004">2004</option>
          <option value="2003">2003</option>
          <option value="2002">2002</option>
          <option value="2001">2001</option>
          <option value="2000">2000</option>
          <option value="1999">1999</option>
          <option value="1998">1998</option>
          <option value="1997">1997</option>
          <option value="1996">1996</option>
          <option value="1995">1995</option>
          <option value="1994">1994</option>
          <option value="1993">1993</option>
          <option value="1992">1992</option>
          <option value="1991">1991</option>
          <option value="1990">1990</option>
          </select>

    </fieldset>

    <fieldset>

      <legend>Student Address</legend>
        <p>Address: <input type="text" name="address" value=""> </p>
        <p>City: <input type="text" name="city" value=""> </p>
        <p> State: <select name="states">
          <option value="State">State</option>
        	<option value="AL">Alabama</option>
        	<option value="AK">Alaska</option>
        	<option value="AZ">Arizona</option>
        	<option value="AR">Arkansas</option>
        	<option value="CA">California</option>
        	<option value="CO">Colorado</option>
        	<option value="CT">Connecticut</option>
        	<option value="DE">Delaware</option>
        	<option value="DC">District Of Columbia</option>
        	<option value="FL">Florida</option>
        	<option value="GA">Georgia</option>
        	<option value="HI">Hawaii</option>
        	<option value="ID">Idaho</option>
        	<option value="IL">Illinois</option>
        	<option value="IN">Indiana</option>
        	<option value="IA">Iowa</option>
        	<option value="KS">Kansas</option>
        	<option value="KY">Kentucky</option>
        	<option value="LA">Louisiana</option>
        	<option value="ME">Maine</option>
        	<option value="MD">Maryland</option>
        	<option value="MA">Massachusetts</option>
        	<option value="MI">Michigan</option>
        	<option value="MN">Minnesota</option>
        	<option value="MS">Mississippi</option>
        	<option value="MO">Missouri</option>
        	<option value="MT">Montana</option>
        	<option value="NE">Nebraska</option>
        	<option value="NV">Nevada</option>
        	<option value="NH">New Hampshire</option>
        	<option value="NJ">New Jersey</option>
        	<option value="NM">New Mexico</option>
        	<option value="NY">New York</option>
        	<option value="NC">North Carolina</option>
        	<option value="ND">North Dakota</option>
        	<option value="OH">Ohio</option>
        	<option value="OK">Oklahoma</option>
        	<option value="OR">Oregon</option>
        	<option value="PA">Pennsylvania</option>
        	<option value="RI">Rhode Island</option>
        	<option value="SC">South Carolina</option>
        	<option value="SD">South Dakota</option>
        	<option value="TN">Tennessee</option>
        	<option value="TX">Texas</option>
        	<option value="UT">Utah</option>
        	<option value="VT">Vermont</option>
        	<option value="VA">Virginia</option>
        	<option value="WA">Washington</option>
        	<option value="WV">West Virginia</option>
        	<option value="WI">Wisconsin</option>
        	<option value="WY">Wyoming</option>
          <option value="AS">American Samoa</option>
          <option value="GU">Guam</option>
          <option value="MP">Northern Mariana Islands</option>
          <option value="PR">Puerto Rico</option>
          <option value="UM">United States Minor Outlying Islands</option>
          <option value="VI">Virgin Islands</option>
        </select>
        <p> Zip Code: <input type="text" name="zipcode" > </p>
    </fieldset>

    <fieldset>
      <legend>Contact Information</legend>
      <p>Email Address: <input type="email" name="email" value=""></p>
      <p>Home Phone Number: <input type="tel" name="homephone" value=""></p>
      <p>Cell Phone Number: <input type="tel" name="cellphone" value=""></p>
      <p>Preferred Contact Method: <select class="contactmethod" name="contactmethod">
        <option value="cell">Cell Phone</option>
        <option value="home">Home Phone</option>
        <option value="email">Email</option>
      </select>
    </fieldset>

    <fieldset>
      <legend>Demographics</legend>
      <p>Religous Preference: <select class="" name="religion">
        <option value="">-- select one --</option>
        <option value="African Traditional & Diasporic">African Traditional & Diasporic</option>
        <option value="Agnostic">Agnostic</option>
        <option value="Atheist">Atheist</option>
        <option value="Baha'i">Baha'i</option>
        <option value="Buddhism">Buddhism</option>
        <option value="Cao Dai">Cao Dai</option>
        <option value="Chinese traditional religion">Chinese traditional religion</option>
        <option value="Christianity">Christianity</option>
        <option value="Hinduism">Hinduism</option>
        <option value="Islam">Islam</option>
        <option value="Jainism">Jainism</option>
        <option value="Juche">Juche</option>
        <option value="Judaism">Judaism</option>
        <option value="Neo-Paganism">Neo-Paganism</option>
        <option value="Nonreligious">Nonreligious</option>
        <option value="Pastafarianism">Pastafarianism</option>
        <option value="Secular">Secular</option>
        <option value="Shinto">Shinto</option>
        <option value="Sikhism">Sikhism</option>
        <option value="Spiritism">Spiritism</option>
        <option value="Tenrikyo">Tenrikyo</option>
        <option value="Unitarian-Universalism">Unitarian-Universalism</option>
        <option value="Zoroastrianism">Zoroastrianism</option>
        <option value="primal-indigenous">primal-indigenous</option>
        <option value="Other">Other</option>
      </select>
      <p> U.S. Armed forces status: <select name:"millitary">
        <option value="none">None</option>
        <option value="currently-serving">Currently Serving</option>
        <option value="previously-served">Previously Served</option>
        <option value="currently-dependent">Currently Dependent</option>
      </select>
      <p> Race <input type="checkbox" name="race" value="american-indian"> American Indian or Alaska Native
               <input type="checkbox" name="race" value="asian"> Asian
               <input type="checkbox" name="race" value="black-african-american"> Black or African American
               <input type="checkbox" name="race" value="pacific-islander"> Native Hawaiian or Other Pacfic Islander
               <input type="checkbox" name="race" value="white"> White
    </fieldset>

    <fieldset>
      <legend>Citzenship</legend>
      <p> Citzenship Status: <select name"citzenship">
        <option>U.S. Citizen or U.S. National</option>
        <option value="1">U.S. Dual Citizen</option>
        <option value="5">U.S. Permanent Resident</option>
        <option value="4">U.S. Refugee or Asylee</option>
        <option value="3">Other (Non-US)</option>
      </select>
    </fieldset>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
