<!DOCTYPE html>
<html>

<style>
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.image-background{
  color : white;
  text-align: left;
  font-family:'Poiret One', cursive;
  font-size: 55px;
  font-weight: 10px;
}

a:visited {
      color: white;

}
</style>

<head>
   <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
   <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
  <title>ScholarFish - A Place to Swim through the Application Process! </title>
</head>
<body>
  <div class="image-background">
      Scholar-Fish! <br>  {{login}}
  </div>
</body>
</html>
<!-- I am writing this to help Reem -->
