<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
   <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <title>ScholarFish - A Place to Swim through the Application Process! </title>
</head>
<body>
  <div class="image-background">
    <div class ="header">
      Scholar-Fish!<div class=login>{{login}}</div>
    </div>
    <div id="center-info">Your path to college FREE education starts here! Happy Swimming!</div>
  </div>
</body>
</html>
<!-- I am writing this to help Reem -->
