<!DOCTYPE html>
<html>

<style>
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
p{
  color : black;
  text-align: left;
  font-family:'Poiret One', serif;
  font-size: 55px;
  font-weight: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
a:visited {
      color: white;
}
</style>

<head>
   <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
   <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
  <title>ScholarFish - A Place to Swim through the Application Process! </title>
</head>
<body>

      <p>Welcome to Scholar-Fish!</p> <button type="submit" name="button">{{login}}</button>

</body>
</html>
<!-- I am writing this to help Reem -->
