<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/student-or-scholar.css">
  <title>ScholarFish - A Place to Swim through the Application Process! </title>
</head>
<body>
  <div class ="header">
    Scholar-Fish!<div class=login><button type="submit" name="button">{{login}}</button></div>
  </div>
  <div class="sign-in">
    <div class="head-question">
    Are you a...
    </div>
    <form method="post">
    <p> <input type="radio" name="student-or-scholar-option" value="True"> Student </p>
    <p> <input type="radio" name="student-or-scholar-option" value="False"> Scholarship Organization </p>
    <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
