<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/student-or-scholar.css">
  <title>ScholarFish - A Place to Swim through the Application Process! </title>
</head>
<body>
  <div>
    <div class="head-question">
    Are you a...
  </div>
    <form method="post">
      Student<br>
      <input type="radio" name="student-or-scholar-option" value="True"><br>
      Scholarship Organization<br>
      <input type="radio" name="student-or-scholar-option" value="False">
    <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
