<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/supplement-info.css">
  <title>ScholarFish - A Place to Swim through the Application Process! </title>
</head>
<body>
  <h1> Supplemental Information </h1>
  <h2> We suggest writing your answers in a separate sheet to avoid grammar errors and misspellings. </h2>

  <form method='post'>
  {% for question in listOfSupplements %}
  <p>{{question}}</p><textarea name={{question}} rows="4" cols="50"></textarea>
  {% endfor %} <br>
  <button type="submit">Submit!</button>

</form>
</body>
</html>
