<!DOCTYPE html>
<html>
<head>
  <title>ScholarFish - A Place to Swim through the Application Process! </title>
</head>
<body>
  <h1> Supplemental Information </h1>
  <form method='post'>
  {% for question in listOfSupplements %}
  <p>{{question}}</p><textarea name={{question}} rows="4" cols="50"></textarea>
  {% endfor %}
  <button type="submit">Submit!</button>

<style>
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

h1{
  text-align: center;
  font-family: 'Poiret One', serif;
  font-size: 50px;
  color: #006666
}


</style>

</form>
</body>
</html>
